generated-by = makedeb
pkgname = realtek-r8125-dkms
postinst = postinst
pkgbase = realtek-r8125-dkms
pkgdesc = Kernel module for RTL8125
pkgrel = 1
pkgver = 9.012.04
url = https://www.realtek.com/en/component/zoo/category/network-interface-controllers-10-100-1000m-gigabit-ethernet-pci-express-software
arch = all
depends = dkms
license = GPL2
optdepends = linux-headers-amd64: Build the module for Debian kernel
optdepends = proxmox-default-headers: Build the module for Proxmox VE kernel
source = http://rtitwww.realtek.com/rtdrivers/cn/nic1/r8125-9.012.04.tar.bz2
source = dkms.conf
source = Makefile
sha256sums = cb5e66c983b42cc32609464c32a2097b8301f09853020e11950d3fd5de0bb4e2
sha256sums = 290ac68b559c230fc3904493870a9b4931cf68ad7ea3628fdc73259ab211207e
sha256sums = 2f8faecfe0a00d3503e5551d2bed84fc788016dae11e6425a50057a22f2f6418
optdepends = linux-headers-amd64: Build the module for Debian kernel
optdepends = proxmox-default-headers: Build the module for Proxmox VE kernel
