generated-by = makedeb
pkgname = r8125-dkms
postinst = postinst.sh
prerm = prerm.sh
pkgbase = r8125-dkms
pkgdesc = dkms source for the r8125 network driver
pkgrel = 1
pkgver = 9.014.01
url = https://www.realtek.com/Download/List?cate_id=584
arch = all
conflicts = r8125-dkms
conflicts = realtek-r8125-dkms
depends = dkms
license = GPL-2.0-only
optdepends = linux-headers-amd64: Build the module for Debian kernel
optdepends = proxmox-default-headers: Build the module for Proxmox VE kernel
provides = r8125-dkms
replaces = realtek-r8125-dkms
source = http://rtitwww.realtek.com/rtdrivers/cn/nic1/r8125-9.014.01.tar.bz2
source = dkms.conf
sha256sums = f006aa95501738ca55c522812c9d1b473ac781675f3ad88ce341a09316b8aa13
sha256sums = 1e5fd3543bc30e1783acf6235e22a1e7d28db3ef136f3aac5b34a944315396a6
optdepends = linux-headers-amd64: Build the module for Debian kernel
optdepends = proxmox-default-headers: Build the module for Proxmox VE kernel
