generated-by = makedeb
pkgname = r8125-dkms
postinst = postinst.sh
prerm = prerm.sh
pkgbase = r8125-dkms
pkgdesc = dkms source for the r8125 network driver
pkgrel = 2
pkgver = 9.013.02
url = https://www.realtek.com/Download/List?cate_id=584
arch = all
conflicts = r8125-dkms
conflicts = realtek-r8125-dkms
depends = dkms
license = GPL-2.0-only
optdepends = linux-headers-amd64: Build the module for Debian kernel
optdepends = proxmox-default-headers: Build the module for Proxmox VE kernel
provides = r8125-dkms
replaces = realtek-r8125-dkms
source = http://rtitwww.realtek.com/rtdrivers/cn/nic1/r8125-9.013.02.tar.bz2
source = dkms.conf
source = kernel-6.9.patch
sha256sums = d36410ee99c956f250d9cd08340d8c36567d190f420a8ee128ff6e51225aac0c
sha256sums = 1e5fd3543bc30e1783acf6235e22a1e7d28db3ef136f3aac5b34a944315396a6
sha256sums = 74823e51fbb88302892d3019c0ffa792e68ec4932731867b1b5f9af9edaac728
optdepends = linux-headers-amd64: Build the module for Debian kernel
optdepends = proxmox-default-headers: Build the module for Proxmox VE kernel
